In [1]:
import pandas as pd
import numpy as np
import csv
import base64

In [48]:
def convertBoxes(num_boxes, boxes):
    return np.frombuffer(base64.b64decode(boxes), dtype=np.float32).reshape(num_boxes, 4)
def convertFeature(num_boxes, features,):
    return np.frombuffer(base64.b64decode(features), dtype=np.float32).reshape(num_boxes, 2048)
def convertLabel(num_boxes, label):
    return np.frombuffer(base64.b64decode(label), dtype=np.int64).reshape(num_boxes)

In [49]:
data_path = "../data/_1_Task1/"
train = pd.read_csv(data_path + "train.tsv", sep='\t', chunksize=10, quoting=csv.QUOTE_NONE)

In [50]:
for t in train:
    tmp = pd.DataFrame(t)
    break
tmp

,product_id,image_h,image_w,num_boxes,boxes,features,class_labels,query,query_id
0,102851856,338,209,2,AAAAAAAAQEAAAKlDAABPQwAAb0MAALBBAICmQwAATEM=,AAAAAAAAAAAnNsFAAAAAAOeVGD0AAAAAAAAAAAAAAAAAAA...,HAAAAAAAAAAcAAAAAAAAAA==,treble popular reed,923271
1,101783080,80,61,1,AACgQAAAoEAAAJZCAABgQg==,AAAAADnKfjyatb8/AAAAALxPBz0MH6E9xwkoPAAAAAAAAA...,HAAAAAAAAAA=,compatible ink cartridges,234031
2,100492797,750,750,1,AAAsQgCAg0MAgCREAADqQw==,AAAAAAAAAABmUlE/AAAAABvc0jwAAAAAAAAAAAAAAAAAAA...,BwAAAAAAAAA=,check new look facial cream,199926
3,101708088,480,640,5,AAB6QwCA0kMAANBDAMAeRAAAfEMAAKBAAIDWQwAAVkMAAH...,AAAAAAAAAAAAAAAAAAAAAAXyfz4AAAAAAAAAAAAAAAAAAA...,HAAAAAAAAAAcAAAAAAAAABwAAAAAAAAAHAAAAAAAAAAcAA...,royal commemorative stamp,772725
4,100316842,800,800,4,AAAKQwCAgEMAADNEAAAHRAAAIkMAwCZEAACqQwDARkQAAE...,AAAAADSdaTwVTdA8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA...,HAAAAAAAAAAGAAAAAAAAAAYAAAAAAAAAHAAAAAAAAAA=,calendula baby shower gel,362576
5,101624880,750,748,1,AACQQQAANEIAACZEAMAaRA==,AAAAAAAAAAB2icw/AAAAAD8xqj4AAAAAAAAAAAAAAAAAAA...,CQAAAAAAAAA=,domestic folding table,1187875
6,101630271,310,310,1,AACgQAAAskIAAIhDAABYQw==,AAAAAAAAAAAItc0/AAAAAKgZljwAAAAAAAAAAAAAAAAAAA...,BwAAAAAAAAA=,chamomile beauty salon care suit,522926
7,102305299,400,400,4,AAADQwAAGkMAAFJDAABkQwAAeEMAABFDAAC7QwCAhEMAAO...,AAAAAAAAAACdIRw/AAAAAFn4AT4AAAAAAAAAAAAAAAAAAA...,BQAAAAAAAAAFAAAAAAAAAAUAAAAAAAAAHQAAAAAAAAA=,hypoallergenic earrings,1289311
8,102801788,450,600,3,AABQQgAAMUMAgIRDAADAQwAAPEIAALhBAADfQwAA+0MAgK...,AAAAAAAAAAAAAAAAAAAAAAxLHj4AAAAAAAAAAAAAAAAAAA...,HAAAAAAAAAAcAAAAAAAAABwAAAAAAAAA,produce special soy,647959
9,102350331,673,800,6,AADWQgAATkMAAA5EAIA1RAAAWkMAACBCAADlQwAANUMAAF...,AAAAABUoqzwAAAAAAAAAACI+eD8AAAAAAAAAAAAAAAAAAA...,HAAAAAAAAAAcAAAAAAAAAAUAAAAAAAAAHAAAAAAAAAAcAA...,metalworking mini hammer,1066905

In [51]:
tmp["boxes"] = tmp.apply(lambda x: convertBoxes(x["num_boxes"], x["boxes"]), 1)
tmp["features"] = tmp.apply(lambda x: convertFeature(x["num_boxes"], x["features"]), 1)
tmp["class_labels"] = tmp.apply(lambda x: convertLabel(x["num_boxes"], x["class_labels"]), 1)


tmp

,product_id,image_h,image_w,num_boxes,boxes,features,class_labels,query,query_id
0,102851856,338,209,2,"[[0.0, 3.0, 338.0, 207.0], [239.0, 22.0, 333.0...","[[0.0, 0.0, 6.0378604, 0.0, 0.037252333, 0.0, ...","[28, 28]",treble popular reed,923271
1,101783080,80,61,1,"[[5.0, 5.0, 75.0, 56.0]]","[[0.0, 0.015551143, 1.4977295, 0.0, 0.03303502...",[28],compatible ink cartridges,234031
2,100492797,750,750,1,"[[43.0, 263.0, 658.0, 468.0]]","[[0.0, 0.0, 0.81766355, 0.0, 0.02573972, 0.0, ...",[7],check new look facial cream,199926
3,101708088,480,640,5,"[[250.0, 421.0, 416.0, 635.0], [252.0, 5.0, 42...","[[0.0, 0.0, 0.0, 0.0, 0.24994667, 0.0, 0.0, 0....","[28, 28, 28, 28, 28]",royal commemorative stamp,772725
4,100316842,800,800,4,"[[138.0, 257.0, 716.0, 540.0], [162.0, 667.0, ...","[[0.0, 0.014258672, 0.02542738, 0.0, 0.0, 0.0,...","[28, 6, 6, 28]",calendula baby shower gel,362576
5,101624880,750,748,1,"[[18.0, 45.0, 664.0, 619.0]]","[[0.0, 0.0, 1.597945, 0.0, 0.33240697, 0.0, 0....",[9],domestic folding table,1187875
6,101630271,310,310,1,"[[5.0, 89.0, 272.0, 216.0]]","[[0.0, 0.0, 1.6070871, 0.0, 0.01832278, 0.0, 0...",[7],chamomile beauty salon care suit,522926
7,102305299,400,400,4,"[[131.0, 154.0, 210.0, 228.0], [248.0, 145.0, ...","[[0.0, 0.0, 0.6098879, 0.0, 0.12692393, 0.0, 0...","[5, 5, 5, 29]",hypoallergenic earrings,1289311
8,102801788,450,600,3,"[[52.0, 177.0, 265.0, 384.0], [47.0, 23.0, 446...","[[0.0, 0.0, 0.0, 0.0, 0.15458316, 0.0, 0.0, 0....","[28, 28, 28]",produce special soy,647959
9,102350331,673,800,6,"[[107.0, 206.0, 568.0, 726.0], [218.0, 40.0, 4...","[[0.0, 0.020893136, 0.0, 0.0, 0.9696981, 0.0, ...","[28, 28, 5, 28, 28, 28]",metalworking mini hammer,1066905

In [52]:
for i in range(tmp.shape[0]):
    print(tmp["features"][i].shape)

(2, 2048)
(1, 2048)
(1, 2048)
(5, 2048)
(4, 2048)
(1, 2048)
(1, 2048)
(4, 2048)
(3, 2048)
(6, 2048)

In [53]:
for i in range(tmp.shape[0]):
    print(tmp["class_labels"][i].shape)

(2,)
(1,)
(1,)
(5,)
(4,)
(1,)
(1,)
(4,)
(3,)
(6,)

In [65]:
df = pd.read_pickle("data/test_data.pkl")
df

,product_id,image_h,image_w,num_boxes,query,query_id,boxes_convert,feature_convert,labels_convert,label_words,pos
0,103052445,798,798,1,straw heavy-bottomed sandals,0,"[[367.0, 151.0, 624.0, 695.0]]","[[0.0, 0.0, 0.03153366, 0.0, 0.0, 0.0, 0.0, 0....",[4],shoes,"[[0.4598997493734336, 0.7819548872180451, 0.18..."
1,103044513,800,800,1,straw heavy-bottomed sandals,0,"[[234.0, 102.0, 712.0, 643.0]]","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",[4],shoes,"[[0.2925, 0.89, 0.1275, 0.80375, 0.404059375]]"
2,103035030,800,800,8,straw heavy-bottomed sandals,0,"[[128.0, 8.0, 425.0, 269.0], [13.0, 30.0, 74.0...","[[0.0, 0.0, 0.14898784, 0.0, 0.014243556, 0.0,...","[0, 5, 2, 3, 4, 4, 4, 5]","top clothes (coat, jacket, shirt, etc.)###acce...","[[0.16, 0.53125, 0.01, 0.33625, 0.1211203125],..."
3,103036197,800,800,3,straw heavy-bottomed sandals,0,"[[166.0, 24.0, 695.0, 341.0], [167.0, 210.0, 7...","[[0.0, 0.0, 0.14226899, 0.0, 0.0, 0.13688986, ...","[4, 4, 4]",shoes###shoes###shoes,"[[0.2075, 0.86875, 0.03, 0.42625, 0.2620203125..."
4,103055323,800,800,1,straw heavy-bottomed sandals,0,"[[212.0, 31.0, 674.0, 777.0]]","[[0.0, 0.0023470921, 0.3899094, 0.013037339, 0...",[4],shoes,"[[0.265, 0.8425, 0.03875, 0.97125, 0.53851875]]"
...,...,...,...,...,...,...,...,...,...,...,...
28825,103040691,800,800,3,wooden retro storage box,999,"[[449.0, 36.0, 740.0, 380.0], [29.0, 11.0, 366...","[[0.0, 0.0, 0.0, 0.0, 0.50044906, 0.0, 0.0, 0....","[28, 28, 28]",others###others###others,"[[0.56125, 0.925, 0.045, 0.475, 0.1564125], [0..."
28826,103061998,800,800,1,wooden retro storage box,999,"[[209.0, 45.0, 719.0, 725.0]]","[[0.0, 0.0, 0.0, 0.0, 1.1930746, 0.0, 0.0, 0.0...",[9],furniture,"[[0.26125, 0.89875, 0.05625, 0.90625, 0.541875]]"
28827,103001441,800,800,2,wooden retro storage box,999,"[[287.0, 44.0, 681.0, 447.0], [331.0, 349.0, 7...","[[0.0, 0.0, 0.0, 0.0, 0.34833834, 0.055363953,...","[9, 9]",furniture###furniture,"[[0.35875, 0.85125, 0.055, 0.55875, 0.24809687..."
28828,103027581,800,800,4,wooden retro storage box,999,"[[5.0, 525.0, 188.0, 710.0], [131.0, 621.0, 26...","[[0.0, 0.0, 0.24457972, 0.0, 0.09471065, 0.0, ...","[4, 28, 9, 28]",shoes###others###furniture###others,"[[0.00625, 0.235, 0.65625, 0.8875, 0.052898437..."
28829,103040431,800,800,4,wooden retro storage box,999,"[[510.0, 662.0, 640.0, 795.0], [348.0, 10.0, 7...","[[0.0, 0.08870841, 0.011605647, 0.0, 0.2239716...","[28, 28, 28, 28]",others###others###others###others,"[[0.6375, 0.8, 0.8275, 0.99375, 0.027015625], ..."

In [67]:
df["tmp"] = df["feature_convert"].apply(lambda x: x.shape[0])
df.tmp.value_counts()

1     5665
2     5415
3     4734
4     3547
5     2634
6     1977
7     1488
8      928
9      716
10     524
11     410
12     246
13     183
14     106
16      56
15      54
17      28
18      19
19      17
20      16
21      13
22      11
30       9
24       8
29       6
23       6
27       5
26       3
25       2
40       1
35       1
33       1
32       1
Name: tmp, dtype: int64